*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(90deg, rgb(217, 217, 250) 25%, rgb(255, 255, 255) 100%);
}

.btn-op {
    background: #00003d;
    color: white;
    padding: 10px;
    border: transparent;
    border-radius: 0.5em;
    width: 100%;
    font-weight: bold;
    transition: .5s ease;
    cursor: pointer;
}

.btn-op:hover {
    background: #01016a;
}

.container-center {
    display: flex;
    justify-content: center;
}

.container-center > div {
    margin: 0 auto;
    margin-top: 50px;
}

.container-center h2 {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

.danger {
    color: red;
    font-weight: bold;
}

.div-dash {
    height: 500px;
    overflow: scroll;
    overflow-x: hidden;
    margin-top: 40px !important;
}

.file_audio, .file_photo, .file_video {
 display: none;
}

.label-file {
  background: #00003d;
  font-weight: bold;
  padding: 10px;
  margin: 5px;
  width: 120px;
  color: white !important;
  border-radius: .5em;
  display: inline-block;
  text-align: center;
}

.link-table {
    color: #1a237e;
    font-weight: bold;
}

.input-field label {
    color: black;
    font-weight: bold;
}

.materialize-textarea::placeholder, .input-field input::placeholder{
    color: black;
    font-weight: bold;
}

.navcolor{
    background-image: linear-gradient(
      90deg,
      hsl(0deg 0% 0%) 0%,
      hsl(240deg 100% 12%) 39%,
      hsl(240deg 100% 12%) 61%,
      hsl(0deg 0% 0%) 100%
    );
}

.plantilla > .col {
    border: 1px solid black;
    min-height: 55px;
    padding: 5px;
}

.plantilla h6, .plantilla h4, .plantilla span {
    font-weight: bold;
}

.product_image {
    border-radius: 2em;
    box-shadow: #000 2px 2px 13px;
}

.title-plantilla {
    min-height: 155px !important;
}

.div-total-balance {
    display: flex;
    flex-direction: row-reverse;
}

.td-total {
    background: #1a237e !important;
    color: white !important;
    font-weight: bold !important;
}

.total-balance {
    background: #1a237e;
    padding: 15px;
    color: white;
    font-weight: bold;
    width: 200px;
    text-align: center;
}

/*TABLES*/

.dataTables_length {
    display: none;
}

.title-table{
    margin-bottom: -50px;
}

table {
    box-shadow: black 2px 3px 13px;
    border-radius: 1em;
}